html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 3% 0 3% 3%;
}

#field {
  display: flex;
  flex-direction: row;
}

#glass {
  display: grid;
  grid-template: repeat(20, 4vh) / repeat(10, 4vh);
}

#next {
  display: grid;
  grid-template: repeat(4, 4vh) / repeat(4, 4vh);
}

.cell {
  border: 0.1vh solid white;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  background-color: gainsboro;
}

.button {
  background-color: orange;
  height: 3em;
  width: 3em;
}

.mobile_controls {
  justify-content: space-between;
  
}

.arrow_left {
  
}

.turn {
  border-radius: 100%;
}

.down {
  
}

.arrow_right {
  
}
