html {
  height: 100%;
}

body {
  display: grid;
  grid-template-areas:
    "main sidebar"
    "footer footer";
  grid-template-rows: 80% 20%;
  grid-template-columns: 70% 30%;
  height: 100vh;
  margin: 0;
}

#glass {
  grid-area: main;
  display: grid;
  grid-template: repeat(20, 4vh) / repeat(10, 4vh);
}

#panel {
  grid-area: sidebar;
}

#next {
  display: grid;
  grid-template: repeat(4, 4vh) / repeat(4, 4vh);
}

.cell {
  border: 0.1vh solid white;
}

.cell {
  background-color: gainsboro;
}

.button {
  background-color: orange;
  height: 3em;
  width: 3em;
}

.row {
  display: flex;
  flex-direction: row;
}

.mobile_controls {
  grid-area: footer;
  justify-content: space-between;
}
