#field {
  display: flex;
  flex-direction: row;
}

#panel {
  margin: 0 0 0 .5vh;
}

#glass {
  display: grid;
  grid-template: repeat(20, 4vh)/repeat(10, 4vh);
}

#next {
  display: grid;
  grid-template: repeat(4, 4vh)/repeat(4, 4vh);
}

.cell {
  border: .1vh solid white
}

.row > div {
  display: inline-block;
}

.cell {
  
  background-color: gainsboro;
}
